.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/**
 * ---------------------------------
 * Backgrounds
 * ---------------------------------
 */
.bg-discord-primary {
    background-color: #36393f;
}

.bg-discord-secondary {
    background-color: #2f3136;
}

.bg-discord-tertiary {
    background-color: #202225;
}

.bg-fab-default {
    background-color: #36393f;
    fill: hsl(139,calc(1*47.3%),43.9%);;
}
.bg-fab-default:hover {
    background-color: hsl(139,calc(1*47.3%),43.9%);
    fill: white;
}

/**
 * ---------------------------------
 * Components
 * ---------------------------------
 */
.card-discord {
    background-color: #2f3136;
    border-left: 4px solid #43A7FF;
}

.item-discord {
    background-color: #4f545c;
    color: #f6f6f7;
}
.item-discord:hover {
    background-color: #72767d;
    cursor: pointer;
}

.item-shopware-admin {
    background-color: #253758;
    color: #bcc9dc;
}
.item-shopware-admin:hover {
    background-color: #2A3F65;
    cursor: pointer;
}

/**
 * ---------------------------------
 * Text
 * ---------------------------------
 */
.text-discord-header-secondary {
    color: #b9bbbe;
}

.text-discord {
    color: #bcc9dc;
}
